{% extends "base.html" %}
{% block main %}
<div class="row aling-items-center justify-content-around">
    <div class="col-sm-12 col-md-6">
        <img src=" {{product.image.url}}" height="300px" width="300px">
    </div>
    <div class="col-sm-12 col-md-6">
        <h2>{{product}}</h2>
        <ul>
            <li>Price: ${{product.price}}</li>
            <li>Stock {{product.stock}}</li>
        </ul>
        <button data-product="{{product.id}}" data-action="add" class="btn btn-success card-link update-cart"><i
                class="fa-solid fa-cart-plus fa-lg" style="color: #ffffff;"></i> Add to
            cart</button>
    </div>
</div>

{% endblock main %}