{% extends "base.html" %}
{% block main %}
<div class="row">
    <div class="col-sm-12">
        <h4>Your shopping cart</h4>
        <span>Total products: {{order.get_total_products}}</span>
    </div>
</div>
<div class="row d-flex justify-content-center">
    <div class="col-sm-12 col-md-8">
        <table class="table table-success table-striped table-hover table-borderless">
            <thead>
                <tr>
                    <th>Product</th>
                    <th></th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                {% for item in products %}
                <tr>
                    <td><strong><a href="{% url 'product-detail' item.product.id %}">{{item.product.name}}</a></strong>
                    </td>
                    <td><img src="{{ item.product.image.url }}" alt="" height="50px" width="50px"></td>
                    <td>${{item.product.price}}</td>
                    <td>{{item.quantity}}</td>
                    <td><strong>${{item.get_total_price}}</strong></td>
                    <td>
                        <div>
                            <button data-product="{{item.product.id}}" data-action="add"
                                class="btn btn-success card-link update-cart"><i class="fa-solid fa-plus"
                                    style="color: #ffffff;"></i></button>
                            <button data-product="{{item.product.id}}" data-action="remove"
                                class="btn btn-danger card-link update-cart"><i class="fa-solid fa-minus"
                                    style="color: #ffffff;"></i></button>
                            <button data-product="{{item.product.id}}" data-action="clear"
                                class="btn btn-warning card-link update-cart"><i class="fa-solid fa-trash"
                                    style="color: #ffffff;"></i></button>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>

        </table>



    </div>
    <div class="col-sm-12 col-md-4">
        {% if order.get_total_products > 0 %}
        <div class="card grey lighten-2" style="height: 100%;">
            <div class="card-body">
                <span class="card-title">
                    <h4>Total order price: ${{order.get_order_price}}</h4>
                </span>
                <hr>
                <p class="card-text">
                    Go to the checkout page to complete your purchase
                </p>
            </div>
            <div class="card-action d-flex justify-content-center">
                <a href="{% url 'checkout' order.id%}">
                    <button data-product="{{product.id}}" data-action="add"
                        class="btn btn-success card-link update-cart">
                        <i class="fa-solid fa-credit-card fa-lg" style="color: #ffffff;">
                        </i> Checkout
                    </button>
                </a>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock main %}