{% extends "base.html" %}

{% block aside %}
<h3>Categories
</h3>
<ul>
    <li><a href="{% url 'home' %}">All</a></li>
    {% for category in categories %}
    <li><a href="{% url 'home' %}?q={{category}}">{{category}}</a></li>
    {% endfor %}
</ul>
{% endblock aside %}

{% block main %}
<div>
    {% if request.user.is_authenticated %}
    <h2>Welcome {{request.user}}</h2>
    {% endif %}

</div>
<div>
    <ul>
        {% if products %}
        {% for product in products %}
        <li><a href="{% url 'product-detail' product.id %}">{{product}}</a></li>
        {% endfor %}
        {% else %}
        <p>No products found</p>
        {% endif %}

    </ul>
</div>
{% endblock main %}