{% extends 'base.html' %}


{% block content %}
<style>
    .home-container{
        display: grid;
        grid-template-columns: 1fr 3fr;
    }
</style>

<div class="home-container">
    <div>
        <h3>Categorys</h3><hr>
        <div>
            <a href="{% url 'home' %}">All products</a>
        </div>   
    {% for obj in category %}
        <div>
            <a href="{% url 'home' %}?q={{obj.name}}">{{obj.name}}</a>
        </div>
    {% endfor %}   
    </div>
    
    <div>
        {% for obj in product %}
        <div>
            <a href="{% url 'product-detail' obj.id %}">{{ obj.name }}</a>
        </div>        
        {% endfor %} 
            
    </div>
</div>
{% endblock content %}
    