{% extends "base.html" %}


{% block main %}

{% include "offcanvas.html" %}

<div class="row aling-items-center gy-5 justify-content-center">
    {% if products %}
    {% for product in products %}
    <div class="col-xl-3 col-md-4 col-sm-6 col-xs-12">
        <div class="card text-center border-secondary">
            <a href="{% url 'product-detail' product.id %}"><img src="{{product.image.url}}"
                    class="card-img top rounded" height="250px"></a>
            <div class="card-body">
                <h5 class="card-title"><a href="{% url 'product-detail' product.id %}">{{product}}</a></h5>
                <div>
                    {% for tag in product.tags.names %}
                    <a href="{% url 'home' %}?q={{tag}}"><span class="badge bg-secondary">{{tag}}</span></a>
                    {% endfor %}
                </div>
                <div class="card-text">
                    ${{product.price}}
                </div>


                {% if product.stock > 0 %}
                {% if request.user.is_authenticated %}
                <button data-product="{{product.id}}" data-action="add" class="btn btn-success card-link update-cart"><i
                        class="fa-solid fa-cart-plus fa-lg" style="color: #ffffff;"></i> Add to
                    cart</button>
                {% else %}
                <a href="{% url 'login' %}"><button data-product="{{product.id}}" data-action="add"
                        class="btn btn-success card-link update-cart"><i class="fa-solid fa-cart-plus fa-lg"
                            style="color: #ffffff;"></i> Add to
                        cart</button></a>
                {% endif %}
                {% endif %}


            </div>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <p>No products found</p>
    {% endif %}

</div>
{% endblock main %}