{% extends "base.html" %}
{% block main %}
<div class="row d-flex justify-content-center">
    <div class="col-sm-4">
        <form action="" method="POST">
            {% csrf_token %}
            <div class="mb-3">
                <label for="">Username: </label>
                <input type="text" class="form-control" placeholder="Username" name="username">
            </div>

            <div class="mb-3">
                <label for="">Password: </label>
                <input type="password" class="form-control" placeholder="********" name="password">
            </div>
            <div class="mb-5 d-flex justify-content-center">
                <button type="submit" class="btn btn-primary">Login</button>
            </div>
            <div class="d-flex justify-content-center flex-column">
                <p class="fst-italic text-muted text-center">Dont have an account yet?</p>
                <a href="{% url 'register' %}" class="btn btn-outline-primary">Register</a>
            </div>
    </div>
    </form>
</div>
</div>
{% endblock main %}